#!/bin/bash
# Functions definition
run_and_capture_exit_code() {
  "$@"
  last_exit_code=$?
  return $last_exit_code
}


### Install basic commands ###
echo -e "\033[1;32m--- Install Basic commands ---\033[0m"
apt-get install -y net-tools linux-headers-generic bridge-utils
### Firewall management ###
echo -e "\033[1;32m--- Firewall management ---\033[0m"

# Get the primary interface name (enps0)
iface="enp5s0" # Hardcode to enp5s0 as per user's input
primary_vlan="${private_network_vlan_assignment}"
vmtovm_vlan="${vmtovm_vlan_assignment}"
echo "Detected primary interface: $iface"

# Clean up any existing Netplan configurations to avoid conflicts
echo "Cleaning up old Netplan configurations..."
sudo rm -f /etc/netplan/*.yaml

# Configure Netplan with a bridge for public IPs and a VLAN for private network
tee /etc/netplan/51-custom-netplan.yaml > /dev/null <<EOF
network:
  version: 2
  ethernets:
    $iface:
      dhcp4: no
      dhcp6: no
  bridges:
    br0:
      interfaces: [$iface]
      dhcp4: no
      addresses:
        - ${base_public_ip}/24
      routes:
        - to: 0.0.0.0/0
          via: ${gateway}
    brvmtovm:
      addresses: [ "${vmtovm_ipam_address}" ]
  vlans:
    $iface.${private_network_vlan_assignment}:
      id: ${private_network_vlan_assignment}
      link: $iface
      addresses: [ "${baremetal_server_ipam_address}" ]
%{ if vmtovm_vlan_assignment != null && vmtovm_ipam_address != null ~}
    $iface.${vmtovm_vlan_assignment}:
      id: ${vmtovm_vlan_assignment}
      link: $iface
%{ endif ~}
EOF

# Cat the network configuration yaml file
echo "Network configuration content (/etc/netplan/51-custom-netplan.yaml):" && cat /etc/netplan/51-custom-netplan.yaml

# Set rights on the YAML file.
run_and_capture_exit_code chmod 600 /etc/netplan/51-custom-netplan.yaml

# File creation check.
if [ "$last_exit_code" -eq 0 ]
then
  echo "Netplan Files: Files have been created."
else
  echo "Netplan Files: Files not created - Error code $last_exit_code"
fi

echo "Applying netplan configuration..."
sudo netplan apply

if [ -n "$primary_vlan" ] && [ "$primary_vlan" != "null" ]; then
  echo "Adding altname hosttohost on interface $iface.$primary_vlan"
  sudo ip link property add altname hosttohost dev $iface.$primary_vlan || echo "Failed to add altname hosttohost on $iface.$primary_vlan"
fi

if [ -n "$vmtovm_vlan" ] && [ "$vmtovm_vlan" != "null" ]; then
  echo "Adding altname vmtovm on interface $iface.$vmtovm_vlan"
  sudo ip link property add altname vmtovm dev $iface.$vmtovm_vlan || echo "Failed to add altname vmtovm on $iface.$vmtovm_vlan"
fi
